<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%- title %></title>
  <style>
    /* Base. */
    @font-face{font-family:"Open Sans";font-weight:400;src:url(opensans-regular.woff2) format("woff2")}
    @font-face{font-family:"Open Sans";font-weight:700;src:url(opensans-bold.woff2) format("woff2")}
    *{font-family:"Open Sans",sans-serif!important}
    html,body,#wybm-index{height:100%;margin:0;background-color:#eee}
    select:focus{outline:none}
    select:disabled{opacity:0.5;cursor:not-allowed}
    input[type=range]:focus{outline:none}
    input[type=button]:focus{outline:none}
    input[type=button]:disabled{cursor:auto!important}

    /* Progress. */
    progress::-webkit-progress-bar {
      background-color: #ddd;
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
    }
    progress::-webkit-progress-value {
      background-color: #0bb;
      background-image: -webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(0,0,0,.25));
      border-radius: 2px;
    }

    /* Sliders. */
    .wybm-view-player-seek::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #eee;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-top: -9px;
      border-radius: 50%;
      border: 2px solid #999;
    }
    .wybm-view-player-seek:hover::-webkit-slider-thumb {
      background-color: #ccc;
    }
    .wybm-view-player-seek:active::-webkit-slider-thumb {
      background-color: #ccc;
      box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
    }
    .wybm-view-player-seek::-webkit-slider-runnable-track {
      height: 3px;
      border-radius: 3px;
    }
    .wybm-view-player-volume::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #ccc;
      cursor: pointer;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #999;
    }
    .wybm-view-player-volume::-webkit-slider-runnable-track {
      height: 20px;
      border-radius: 10px;
      border: 1px solid #999;
    }

    /* Dynamic. FIXME(Kagami): Refactor this shit with Radium. */
    .wybm-view-player-control {
      background-color: #fff;
    }
    .wybm-view-player-control:hover:not(.wybm-view-player-control_pressed) {
      background-color: #ddd;
    }
    .wybm-view-player-control_pressed, .wybm-view-player-control:active {
      background-color: #ddd;
      box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
    }
    .wybm-view-player-control:disabled {
      background-color: #fff !important;
      opacity: 0.5;
    }
    .wybm-view-player-time {
      border: 1px solid #ccc;
    }
    .wybm-view-player-time:focus {
      outline: none;
      border-color: #000;
    }
    .wybm-view-player-time_invalid {
      border-color: #f00 !important;
      color: #f00;
    }
  </style>
</head>
<body>
  <div id="wybm-index"></div>
  <script src="index.js"></script>
</body>
</html>
