<div id="inner">
  <style scoped>
    /* "inner" shouldn't be actually needed with scoped style but it's
       not implemented in Chrome... */
    #inner h3{margin:15px 0}
    #inner table{margin:0 auto}
    #inner td:nth-child(2){color:#999;padding-left:30px}
    #inner button{vertical-align:top}
  </style>
  <center><h3>Help</h3></center>
  wybm is a GUI application which can download videos from YouTube in WebM format and interactively cut them without reencoding. Its main purpose is to preserve original quality of the YouTube clip while still being able to do few simple manipulations.
  <center><h4>Fragment start</h4></center>
  To mark start of the fragment, press <button>⧏</button> button. By default it points to the start of the file. <b>Note:</b> fragment can start only at keyframe. You can navigate between keyframes with keyboard arrow keys.
  <center><h4>Fragment end</h4></center>
  To mark end of the fragment, press <button>⧐</button> button. By default it points to the end of the file. Fragment can end at any point but not before the fragment start.
  <center><h4>Preview</h4></center>
  Some imageboards use only first single frame of the video in order to generate thumbnail. It maybe be undesirable in some cases, e.g. a lot of clips start with a black frame. wybm allows you to overcome with limitation and select custom preview either from file or using current video frame. <b>Note:</b> technically it works by creating additional video track with higher resolution, beware that some sites may forbid videos with more than one video track. By default preview is not created.
  <center><h4>Size</h4></center>
  wybm shows you approximate size of the resulting file and updates this number when you move the fragment boundaries. You can also press <button>Autofit</button> button in order to fit fragment end to the desired limit while keeping fragment start intact. Note that most the time resulting file will be slighly (100-200KiB) bigger. (Also note that there are 1024 bytes in kibibyte.)
  <center><h4>Save</h4></center>
  When you are done with fragment boundaries and preview, simply press <button>Save</button> button in order to generate resulting file. It should be very fast and you can also return to the exact current view later, so don't hesitate trying different variants. With default fragment boundaries it will simply copy entire video to the given destination.
  <center><h4>Hotkeys</h4></center>
  <table>
    <tr><td>LEFT</td><td>Go to previous keyframe</td></tr>
    <tr><td>RIGHT</td><td>Go to next keyframe</td></tr>
    <tr><td>SPACE</td><td>Toggle pause</td></tr>
    <tr><td>F</td><td>Toggle fullscreen</td></tr>
    <tr><td>COMMA</td><td>Go to previous frame</td></tr>
    <tr><td>DOT</td><td>Go to next frame</td></tr>
    <tr><td>ENTER</td><td>Go to specific pos. (time field)</td></tr>
    <tr><td>MOUSE_CLICK</td><td>Toggle pause (video area)</td></tr>
    <tr><td>MOUSE_DBLCLICK</td><td>Toggle fullscreen (video area)</td></tr>
  </table>
</div>
